/*---- RESET ---- */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        

    }

    img {
        max-width: 380px;
    }

/*---- /RESET---- */


/* ---- GENERAL ---- */
body {
    font-family: sans-serif;
    }

.container {

    max-width: 1200px;
    margin: auto;

}

/* ---- GRID ---- */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 90px;
}

.row > * {
    padding: 0 10px;
}

.col-33 {
    width: calc(100% / 3);
}

.col-grow {
    flex-grow: 1;
}




/* ----/GENERAL ---- */

/* ----HEADER---- */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ff6900;
        z-index: 10;
        padding: 10px;
        box-shadow: 5px 3px 5px  #727272;
        margin: auto;

    }
    

    .nav-link > a   {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        margin: 4px;
        
    }

    .navbar {       
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
       
    }

    .nav-logo > img {
        
        height: 24px;
    }

    .nav-icon {
        color: #fff;
        font-size: 18px;
        
    }
    i {
        margin: 4px;
    }
/* ----/HEADER---- */

/* ----MAIN---- */


    .card {
        position: relative;
    }
   
   .box {
        background-color: #fff;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        right: 6px;
    
   }

    .discount {
    background-color: red;
    width: 60px;
    height: 20px;
    position: absolute;
    bottom: 106px;
    left: 0px;
    
    }

    .sost {
        background-color: green;
        width: 70px;
        height: 20px;
        position: absolute;
        bottom: 106px;
        left: 64px;
        
        }

        .double-box {
        position: absolute;
        bottom: 0px;
        left: -64px;

        }   

    .d-text {
        position: absolute;
        color: #fff;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: bold;
        
    }

    .heart {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    }
    
   

    .article-name {
        font-weight:bolder;
        font-size:18px;
        

    }
    .price {
        font-size: 12px;
        font-weight: 800;
        color: red;
        
    }

    .real-price {
        color: #000;
        font-weight: 400;
        text-decoration: line-through;
        

    }

    /* --- HOVER --- */
   .card .card-image-hover {
        display: none;
    }
    .card:hover .card-image-hover{
        display: block;
    }

    .card:hover .card-image-default {
        display: none;
    }
    /*--- /HOVER --- */ 
/* ----/MAIN---- */